/* most of the comments of the Hstyles.css also apply here */

body {
    background-color: #ffffff;
    font-family: Georgia, Arial;
    /*it uses georgia if not found it uses arial*/
    text-align: center;
    margin: 0;
    padding: 30px 50px;
    min-height: 100vh;
    /*I used this and the following 4 commands to be able to have the footer on the bottom of the page*/
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
}

header {
    grid-area: header;
}

h1 {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 15px 0;
    padding: 0;
}

nav {
    grid-area: nav;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #333333;
    text-decoration: none;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-photo h2 {
    color: #DE638A;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin: 35px 0 8px 0;
    padding: 0;
    text-align: center;
}

.about-photo img {
    width: 215px;
    height: 312px;
    margin: 0 0 0 0;
    padding: 20px 20px 0 20px;
}

.about-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #DE638A;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin: 35px 0 8px 0;
    padding: 0;

}

main p {
    color: #333333;
    font-size: 16px;
    font-weight: 400; /*for degree of bold */
    line-height: 1.6; /*height of the words */
    margin: 0;
    padding: 20px 20px 0 20px;
}

footer{
    grid-area: footer;
}

footer p {
    box-sizing: content-box;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 43px;
    margin-left: 15px;
    padding: 15px 0;
}